.dropdown-item {
	&:active{
		background-color: #e9ecef !important;
	}
	display: flex !important;
	flex-direction: row;
	white-space: unset !important;
	.cart-item-img {
		width: 60px;
	}
	.cart-item-info {
		margin-left: 16px;
		p {
			padding: 0;
			margin: 0;
			text-align: left;
		}
	}
}
