.authform-outline{
	max-width: 640px !important;
	margin:auto;
	.signform{
		padding: 16px 64px;
	border-radius: 5px;
	min-width: 500px;
	font-size: 15px;
	text-align: left;
	box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); 
	.form-title{
		text-align: center;
		font-weight: bold;
	}
	}
}

.loading-modal {
	position: absolute;
	z-index: 1;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(255, 255, 255, 0.578);
}
@media (max-width: 768px){
	.authform-outline{
		max-width: 90% !important;
		.signform{
			padding: 8px 8px;
		min-width: 300px;
		font-size: 14px;
		
		}
	}
	
}
