.cart {
	display: inline-block;
	position: relative;
	top: -3px;
}
.dropdown {
	user-select: none;
	background-color: white;
	&:active {
		background-color: #e6e6e6;
	}
	.btn,
	.btn:focus,
	.btn:hover,
	.btn:active {
		background-color: white;
		border-color: unset;
		outline: none;
		box-shadow: unset;
		position: relative;
		transform: unset;
		.cart-count {
			width: 20px;
			height: 20px;
			text-align: center;
			border-radius: 50%;
			color: white;
			background-color: black;
			position: absolute;
			top: 0;
			right: 0;
			font-size: 13px;
			text-align: center;
			display: flex;
			justify-content: center;
			align-items: center;
			span {
				margin-top: 4px;
			}
		}
		.cart-icon {
			width: 34px;
		}
	}
}

@media screen and (max-width: 576px) {
	.cart-count {
		span {
			margin-top: 0px !important;
		}
	}
	.cart-icon {
		width: 28px !important;
	}
}
